# MongoDB
SPRING_DATA_MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database

# OpenRouter API
OPENROUTER_API_KEY=sk-or-v1-your-api-key-here

# LLM
APP_LLM_DEFAULT_MODEL=x-ai/grok-4-fast

# Server
SERVER_PORT=8080
